/* ===============================
   Azeret Mono - Regular
   =============================== */

@font-face {
  font-family: 'Azeret Mono';
  src: url('@/assets/fonts/AzeretMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ===============================
   Force font globally
   =============================== */

html,
body,
#app {
  font-family: 'Azeret Mono', monospace;
}

/* If some components override the font */
* {
  font-family: 'Azeret Mono', monospace !important;
}
